<form method="post" action="/find">
	<div class='input-group'>
		<input class='form-control input-lg' type="text" name="url" value="<?=$url?>" placeholder="http://example.com/favorite.gif">
		<div class='input-group-btn'>
			<input class='btn btn-lg' type="submit" name="cmd" value="Find BPM">
		</div>
	</div>
</form>
