<span class='label label-success'> <?=$labelInfo['size']?> size</span> 

<span class='label label-warning'> <?=$labelInfo['frames']?> frames</span>

<span class='label label-default'> <?=$labelInfo['duration']?> ms</span>

<span class='label label-warning'> <?=$labelInfo['bpm']?> bpm</span>
