<div class="content">
		<div class='col-lg-12'>
			<fieldset> 
				<legend>Find BPM </legend>
				<?php include('findform.htm'); ?>
			</fieldset>
		</div>
	
		<div class='col-lg-12'>
		<BR><BR>
		<fieldset>
			<legend> Recent </legend>
			<div class='col-lg-3'>
				<?= html_entity_decode($slots[1]) ?>
			</div>
			<div class='col-lg-3'>
				<?= html_entity_decode($slots[2]) ?>
			</div>
			<div class='col-lg-3'>
				<?= html_entity_decode($slots[3]) ?>
			</div>
			<div class='col-lg-3'>
				<?= html_entity_decode($slots[4]) ?>
			</div>
		</fieldset>
		</div>
</div>
