@import url(https://fonts.googleapis.com/css?family=Lato);
@import url(https://fonts.googleapis.com/css?family=Quattrocento+Sans);
/* line 25, colordoc.scss */
.pal1 {
  background-color: #d6dee3;
}

/* line 26, colordoc.scss */
.pal2 {
  background-color: #2f5d7b;
}

/* line 27, colordoc.scss */
.pal3 {
  background-color: #5394cc;
}

/* line 28, colordoc.scss */
.pal4 {
  background-color: #849baa;
}

/* line 29, colordoc.scss */
.pal5 {
  background-color: #447c9c;
}

/* line 30, colordoc.scss */
.pal6 {
  background-color: #618296;
}

/* line 31, colordoc.scss */
.pal7 {
  background-color: #4985b5;
}

/* line 32, colordoc.scss */
.pal8 {
  background-color: #4f94c3;
}

/* line 33, colordoc.scss */
.pal9 {
  background-color: #9cb4bd;
}

/* line 36, colordoc.scss */
.square1 {
  width: 64px;
  height: 64px;
  display: inline-block;
}

/* line 42, colordoc.scss */
body {
  background-color: #fff;
  font-family: 'Quattrocento Sans', sans-serif;
}

/* line 44, colordoc.scss */
a {
  color: #618296;
  font-family: 'Lato', sans-serif;
}

/* line 46, colordoc.scss */
.jumbotron {
  background-color: #618296;
  color: #fff;
}

/* line 47, colordoc.scss */
.jumbotron > h1 {
  color: #fff;
}

/* line 49, colordoc.scss */
.btn-default {
  background-image: linear-gradient(to bottom, #849baa 0%, #d6dee3 100%);
  border-color: #d6dee3;
  color: #192B18;
}

/* line 50, colordoc.scss */
.btn-default:hover, .btn-default:focus {
  background-color: #d6dee3;
  border-color: #d6dee3;
}

/* line 51, colordoc.scss */
.btn-primary {
  background-image: linear-gradient(to bottom, #618296 0%, #4985b5 100%);
  border-color: #618296;
}

/* line 52, colordoc.scss */
.btn-primary:hover, .btn-primary:focus {
  background-color: #4985b5;
  border-color: #618296;
}

/* line 53, colordoc.scss */
.btn-success {
  background-image: linear-gradient(to bottom, #5394cc 0%, #618296 100%);
  border-color: #618296;
  color: #fff;
}

/* line 54, colordoc.scss */
.btn-success:hover, .btn-success:focus {
  background-color: #618296;
  border-color: #618296;
}

/* line 55, colordoc.scss */
.btn-info {
  background-image: linear-gradient(to bottom, #ffffff 0%, #9cb4bd 100%);
  border-color: #618296;
  color: #4985b5;
}

/* line 56, colordoc.scss */
.btn-info:hover, .btn-info:focus {
  background-color: #9cb4bd;
  border-color: #618296;
}

/* line 57, colordoc.scss */
.btn-warning {
  background-image: linear-gradient(to bottom, #ffffff 0%, #d6dee3 100%);
  border-color: #d6dee3;
  color: #192B18;
}

/* line 58, colordoc.scss */
.btn-warning:hover, .btn-warning:focus {
  background-color: #d6dee3;
  border-color: #618296;
}

/* line 60, colordoc.scss */
.btn-link {
  color: #4f94c3;
}

/* line 62, colordoc.scss */
.dropdown-menu > .active > a, .dropdown-menu > .active > a:focus, .dropdown-menu > .active > a:hover {
  background-color: #d6dee3;
  background-image: linear-gradient(to bottom, #849baa 0%, #d6dee3 100%);
}

/* line 64, colordoc.scss */
.label-default {
  background-color: #d6dee3;
}

/* line 65, colordoc.scss */
.label-primary {
  background-color: #2f5d7b;
}

/* line 66, colordoc.scss */
.label-success {
  background-color: #4985b5;
}

/* line 67, colordoc.scss */
.label-info {
  background-color: #618296;
}

/* line 68, colordoc.scss */
.label-warning {
  background-color: #849baa;
}

/* line 70, colordoc.scss */
.nav-pills > li.active > a, .nav-pills > li.active > a:focus, .nav-pills > li.active > a:hover {
  background-color: #2f5d7b;
}

/* line 71, colordoc.scss */
.list-group-item.active > .badge, .nav-pills > .active > a > .badge {
  color: #2f5d7b;
}

/* line 73, colordoc.scss */
.list-group-item.active {
  background-image: linear-gradient(to bottom, #d6dee3 0%, #849baa 100%);
  border-color: #d6dee3;
}

/* line 76, colordoc.scss */
.list-group-item.active,
.list-group-item.active:hover,
.list-group-item.active:focus {
  background-image: linear-gradient(to bottom, #d6dee3 0%, #849baa 100%);
  border-color: #d6dee3;
}

/* line 79, colordoc.scss */
.list-group-item.active, .list-group-item.active:focus, .list-group-item.active:hover {
  text-shadow: 0 -1px 0 #5394cc;
}

/* line 80, colordoc.scss */
.list-group-item.active, .list-group-item.active:focus, .list-group-item.active > h4 {
  color: #000;
}

/* line 81, colordoc.scss */
.list-group-item.active .list-group-item-text, .list-group-item.active:focus .list-group-item-text, .list-group-item.active:hover .list-group-item-text {
  color: #000;
  text-shadow: 0 -1px 0 #5394cc;
}

/* line 83, colordoc.scss */
.alert-success {
  background-image: linear-gradient(to bottom, #447c9c 0%, #618296 100%);
  color: #fff;
  border-color: #2f5d7b;
}

/* line 84, colordoc.scss */
.alert-info {
  background-image: linear-gradient(to bottom, #5394cc 0%, #d6dee3 100%);
  color: #000;
  border-color: #d6dee3;
}

/* line 85, colordoc.scss */
.alert-warning {
  background-image: linear-gradient(to bottom, #ffffff 0%, #447c9c 100%);
  color: #2f5d7b;
  border-color: #5394cc;
}

/* line 88, colordoc.scss */
.progress-bar {
  background-image: linear-gradient(to bottom, #2f5d7b 0%, #4985b5 100%);
}

/* line 89, colordoc.scss */
.progress-bar-striped {
  background-image: linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
}

/* line 90, colordoc.scss */
.progress-bar-success {
  background-image: linear-gradient(to bottom, #849baa 0%, #d6dee3 100%);
}

/* line 91, colordoc.scss */
.progress-bar-info {
  background-image: linear-gradient(to bottom, #447c9c 0%, #4985b5 100%);
}

/* line 92, colordoc.scss */
.progress-bar-warning {
  background-image: linear-gradient(to bottom, #4985b5 0%, #9cb4bd 100%);
}

/* line 93, colordoc.scss */
.progress-bar-danger {
  background-image: linear-gradient(to bottom, #d9534f 0%, #c9302c 100%);
}

/* line 99, colordoc.scss */
.panel-title {
  color: #9cb4bd;
}

/* line 100, colordoc.scss */
.panel {
  border-color: #9cb4bd;
}

/* line 101, colordoc.scss */
.panel-default > .panel-heading > h3 {
  color: #000;
}

/* line 102, colordoc.scss */
.panel-default > .panel-heading {
  background-image: linear-gradient(to bottom, #849baa 0%, #d6dee3 100%);
}

/* line 103, colordoc.scss */
.panel-success > .panel-heading > h3 {
  color: #fff;
}

/* line 104, colordoc.scss */
.panel-success > .panel-heading {
  background-image: linear-gradient(to bottom, #447c9c 0%, #2f5d7b 100%);
}

/* line 105, colordoc.scss */
.panel-warning > .panel-heading > h3 {
  color: #000;
}

/* line 106, colordoc.scss */
.panel-warning > .panel-heading {
  background-image: linear-gradient(to bottom, #ffffff 0%, #447c9c 100%);
}

/* line 108, colordoc.scss */
.panel-primary > .panel-heading {
  background-image: linear-gradient(to bottom, #618296 0%, #4985b5 100%);
}

/* line 109, colordoc.scss */
.panel-primary > .panel-heading > h3 {
  color: #fff;
}

/* line 110, colordoc.scss */
.panel-info > .panel-heading {
  background-image: linear-gradient(to bottom, #849baa 0%, #d6dee3 100%);
}

/* line 111, colordoc.scss */
.panel-info > .panel-heading > h3 {
  color: #000;
}

/* line 112, colordoc.scss */
.panel-danger {
  border-color: #447c9c;
}

/* line 113, colordoc.scss */
.panel-danger > .panel-heading > h3 {
  color: #000;
}
.navbar-default {
	background-image: linear-gradient(to bottom, #5394cc 0%, #d6dee3 100%);
	border:0px;
	border-bottom :1px solid #B2CADD; 
	border-radius:0;
}
