body {
	padding:0px;
	background-image: url(http://subtlepatterns2015.subtlepatterns.netdna-cdn.com/patterns/tex2res5.png);
}

input[type="text"], input[type="password"], input[type="file"] {
	margin:0px;
}

nav.navbar {
	margin-bottom:0px;
}

div.container.body {
	background-color:white;
	border :1px solid #B2CADD;
	border-top:0px;
}

.theme-dropdown .dropdown-menu {
  position: static;
  display: block;
  margin-bottom: 20px;
}

.theme-showcase > p > .btn {
  margin: 5px 0;
}

.theme-showcase .navbar .container {
  width: auto;
}
